.container{
    color: black;
    height: 93px;
    width: 100%;
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #EDEFF2;
    align-items: center;
    
}

.logoName{
    color: var(--grey-blue-50, #4D5E80);
display: block;
/* Bold 18 */
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 30px; /* 166.667% */
}
.navlinks{
    width: 441px;
    height: 30px;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;   
}
.navlink{
    color: var(--grey-blue-70, #7D8FB3);

/* Bold 13 */
font-family: Roboto;
font-size: 13px;
font-style: normal;
font-weight: 700;
line-height: 25px; /* 192.308% */
}
.searchbar{
    display: flex;
width: 430px;
height: 50px;
padding: 15px 20px;
justify-content: space-between;
align-items: center;
flex-shrink: 0;
border-radius: 30px;
background: var(--white, #FFF);

/* Shadows/Gray Blue/3%/5b */
box-shadow: 0px 2px 5px 0px rgba(38, 51, 77, 0.03);
}
.searchplace{
    color: var(--grey-blue-80, #ADB8CC);

/* Bold 12 */
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: 20px; /* 166.667% */
}
.userInfo{
    display: flex;
    gap: 5px;
    align-items: center;
}
.username{
    color: var(--grey-blue-60, #6B7A99);

/* Bold 13 */
font-family: Roboto;
font-size: 13px;
font-style: normal;
font-weight: 700;
line-height: 25px; /* 192.308% */
margin-right: 15px;
}
.dotImageDiv{
    width: 50px;
    height: 50px;
    position: relative;
}
.dotImage{
    position: absolute;
    left: 33px;
}
.smallScreenUser{
    
  display: none;
}

@media screen and (max-width:400px){
    .container{
        width: 100vw;
        gap: 80px;
    }
    .navlinks{
        display: none;

    }
    .searchbar{
        display: none;
    }
    .userInfo{
        display: none;
    }
    .smallScreenUser{
       display:block
    }
}
